<!-- トップページ -->
<div class="wrapper">

  <!-- サイドバー -->
  <div class="side">  
    <!-- _side_bar.html.erb が表示される-->
    <%= render "side_bar" %>
  </div>

  <!-- メインチャット -->
  <div class="main">
    <!-- _main_cht.html.erb が表示される -->
    <%= render "main_chat" %>
  </div>
</div>